<template>
    <div class="card card-plain">
        <!-- Title : Attendee -->
        <div class="card-header" role="tab" id="headingTwo">
            <a class="collapsed" v-b-toggle.attendee href="javascript:;">
                Attendee<i class="material-icons">keyboard_arrow_down</i>
            </a>
        </div>
        <!-- Body : Attendee -->
        <b-collapse id="attendee" accordion="my-accordion" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body" style="background-color: #fff;">
                <div class="container p-4">
                    <h4 class="poppins">
                        Send Invitation
                    </h4>
                    <p class="poppins" style="font-size:14px;font-weight:500;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    
                    <span class="poppins mt-4"> Attendee's email </span>
                    <!-- Form : Attendees Email -->
                    <form action="">
                        <div class="d-flex">
                            <div class="form-group p-2" style="flex-grow: 1;">
                                <input type="text" aria-label="email" class="form-control custom-input" placeholder="Type attendee`s email here">
                            </div>
                            <div class="my-auto">
                                <button type="submit" class="btn btn-blue btn-round btn-sm" style="text-transform: capitalize;"> Send </button>
                            </div>
                        </div>
                    </form>
                    <!-- End Form -->

                    <!-- List Attendees -->
                    <div class="form-inline">
                        <div class="form-group mr-5">
                            <h4 class="poppins">
                                Attendees List
                            </h4>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <select id="ticket" class="form-control custom-select-input" style="width: 75px;">
                                    <option selected>All</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ml-auto">
                            <button class="btn btn-outline-secondary poppins" style="font-size:12px;text-transform:capitalize"> Download list PDF </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 my-auto">
                                        <img src="assets/img/speakers1.png" alt="" class="img-fluid rounded-circle float-left mr-4" width="35">
                                        <p class="poppins mt-2">Courtney Henry</p>
                                    </div>
                                    <div class="col-md-4 text-center mx-auto">
                                        <h5 class="poppins mt-2" style="font-size: 16px;"> courteneyhen@gmail.com </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="float-right">
                                            <span class="badge badge-success mt-2"> Signed Up </span>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 my-auto">
                                        <img src="assets/img/speakers2.png" alt="" class="img-fluid rounded-circle float-left mr-4" width="35">
                                        <p class="poppins mt-2">Bessie Cooper</p>
                                    </div>
                                    <div class="col-md-4 text-center mx-auto">
                                        <h5 class="poppins mt-2" style="font-size: 16px;"> cooperbessie77@gmail.com </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="float-right">
                                            <span class="badge badge-success mt-2"> Signed Up </span>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 my-auto">
                                        <img src="assets/img/speakers3.png" alt="" class="img-fluid rounded-circle float-left mr-4" width="35">
                                        <p class="poppins mt-2">Kristin Watson</p>
                                    </div>
                                    <div class="col-md-4 text-center mx-auto">
                                        <h5 class="poppins mt-2" style="font-size: 16px;"> watsonkristin@gmail.com </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="float-right">
                                            <span class="badge badge-success mt-2"> Signed Up </span>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 my-auto">
                                        <img src="assets/img/speakers1.png" alt="" class="img-fluid rounded-circle float-left mr-4" width="35">
                                        <p class="poppins mt-2">Darlene Robertson</p>
                                    </div>
                                    <div class="col-md-4 text-center mx-auto">
                                        <h5 class="poppins mt-2" style="font-size: 16px;"> robertson972@gmail.com </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="float-right">
                                            <span class="badge badge-success mt-2"> Signed Up </span>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </b-collapse>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>