<template>
    <div class="card card-plain">
        <!-- Title : Email -->
        <div class="card-header" role="tab" id="headingThree">
            <a class="collapsed" v-b-toggle.emails href="javascript:;">
                Emails <i class="material-icons">keyboard_arrow_down</i>
            </a>
        </div>
        <!-- Body : Email -->
        <b-collapse id="emails" accordion="my-accordion" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body" style="background-color: #fff;">
                        <!-- Begin : Form Email -->
                        <form action="">
                            <div class="container p-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h5 class="poppins"> Subject </h5>
                                                <div class="form-group">
                                                    <input type="text" aria-label="..." class="form-control custom-input" style="background: #fff !important;" placeholder="Type subject">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h5 class="poppins">Send Email To</h5>
                                                <div class="form-check form-check-radio form-check-inline ml-2">
                                                    <label class="form-check-label poppins text-dark">
                                                        <input class="form-check-input" type="checkbox" name="sendto" id="attendees" value="attendees"> Attendees
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-radio form-check-inline ml-2">
                                                    <label class="form-check-label poppins text-dark">
                                                        <input class="form-check-input" type="checkbox" name="sendto" id="speakers" value="speakers"> Speakers
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h5 class="poppins mb-4"> Schedule </h5>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="poppins"> Date </p>
                                                <div class="form-group">
                                                    <input type="text" aria-label="..." class="form-control custom-input" style="background: #fff !important;" placeholder="Date">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <p class="poppins"> Time </p>
                                                <div class="form-group">
                                                    <input type="text" aria-label="..." class="form-control custom-input" style="background: #fff !important;" placeholder="Time">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-blue btn-sm float-right" style="text-transform: capitalize;"> Create </button>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="poppins"> Compose Email </p>
                                        <!-- :::: This email body using plugin "Quilljs" read this for the documentation : https://github.com/surmon-china/vue-quill-editor  :::: -->
                                        <quill-editor :content="content" :options="editorOption" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End : Form Email -->
                    </div>

            <!-- <Summernote></Summernote> -->
        </b-collapse>
    </div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default {
    components: {
       quillEditor
    },
    data () {
        return {
            content: '',
            editorOption: {
                Size:350
            }
        }
    },
    methods: {
      onEditorChange({ quill, html, text }) {
        console.log(quill, html, text)
        this.content = html
      }
    },
    computed: {
      editor() {
        return this.$refs.myQuillEditor.quill
      }
    },
    mounted() {
      console.log(this.editor)
    }
}
</script>

<style>
.ql-editor { 
    height: 200px;
}
</style>