<template>
    <div class="card card-plain">
        <div class="card-header" role="tab" id="headingThree">
            <!-- Title : Event page Builder -->
            <a class="collapsed" v-b-toggle.event-page-builder href="javascript:;">
                Event Page Builder<i class="material-icons">keyboard_arrow_down</i>
            </a>
        </div>
        <!-- Body : Event Page Builder -->
        <b-collapse id="event-page-builder" accordion="my-accordion" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body" style="background-color: #fff;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Left Card -->
                            <div class="card p-3">
                                <div class="card-body round">
                                    <div class="container">
                                        <!-- Title -->
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <h4 class="card-title font-weight-bold" style="font-size:24px">
                                                    How to Earn Money from Bitcoin 
                                                </h4>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <p class="card-text poppins" style="font-size:18px;"> 29 Juli 2021 </p>
                                                <p class="poppins" style="font-size:18px;"> 08:00 WIB </p>
                                            </div>
                                        </div>

                                        <!-- Tags -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="badge badge-info">Keyword</span>
                                                <span class="badge badge-success">Keyword</span>
                                                <span class="badge badge-warning">Keyword</span>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="poppins text-right" style="font-weight: 400;">
                                                    Hosted by <img src="@/assets/img/read1.png" alt="" class="avatar"> <strong> Jeffery Rayn </strong>
                                                </p>
                                            </div>
                                        </div>

                                        <!-- Image Card -->
                                        <div class="card-header-image">
                                            <!-- ::::: IMPORTANT! - | IDEAL RESOLUTION FOR THIS IMAGE IS WIDTH : 635 , AND HEIGHT : 250 | :::::  -->
                                            <!-- <img class="img-fluid round" width="635" height="250" src="@/assets/img/dummy-img-2.png"> -->
                                            <img class="img-fluid round" src="@/assets/img/dummy-img-2.png">
                                        </div>

                                        <!-- Body Card -->
                                        <div class="row mb-4">
                                            <div class="col-md-4">
                                                <div class="card border mb-3" style="margin-bottom: 0;">
                                                    <div class="card-body mx-auto mb-1">
                                                        <span class="poppins" style="font-size: 15px;">
                                                            <i class="fa fa-ticket fa-fw"></i>
                                                            Rp. 37.000
                                                        </span>
                                                    </div>
                                                </div>
                                                <button class="btn btn-blue btn-sm w-75" style="text-transform: capitalize">
                                                    Purchase
                                                </button>
                                                <button class="btn btn-social btn-sm btn-just-icon btn-secondary">
                                                    <i class="fa fa-share-alt"></i>
                                                </button>
                                            </div>
                                            <div class="col-md-8 mt-4">
                                                <p class="card-text poppins">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos corrupti sapiente alias. 
                                                    Id officia saepe dicta sunt maxime voluptatem quisquam, perspiciatis fugiat nihil, 
                                                    assumenda dolore pariatur quaerat molestias officiis eos.
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure aliquid expedita eum blanditiis consectetur id aut. Tempora fugiat possimus at praesentium velit,
                                                </p>
                                                <p class="card-text poppins">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                </p>
                                            </div>
                                        </div>

                                        <!-- Speaker Card -->
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <p class="poppins" style="font-size:18px">
                                                    Speaker
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src="@/assets/img/card_speaker1.png" alt="" class="img-fluid">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="@/assets/img/card_speaker2.png" alt="" class="img-fluid">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="@/assets/img/card_speaker3.png" alt="" class="img-fluid">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="@/assets/img/card_speaker4.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Agenda Card -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="poppins" style="font-size:18px">
                                                    Speaker
                                                </p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card p-3" style="margin-bottom: 15px;margin-top: 15px;">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="card-header d-flex rounded h-100 justify-content-center align-middle" style="background: #CAD8ED;">
                                                                    <p class="text-center my-auto" style="font-size:14px;">08:00</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="card-block">
                                                                    <h5 class="card-title poppins" style="font-size:14px;">Opening</h5>
                                                                    <p class="card-text" style="font-size:12px;margin-bottom: 0;">
                                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae recusandae a ea accusamus quis! Necessitatibus dignissimos itaque iste et aliquid!.
                                                                    </p>
                                                                </div>
                                                                <div class="w-100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card p-3" style="margin-bottom: 15px;margin-top: 15px;">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="card-header d-flex rounded h-100 justify-content-center align-middle" style="background: #CAD8ED;">
                                                                    <p class="text-center my-auto" style="font-size:14px;">08:30</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="card-block">
                                                                    <h5 class="card-title poppins" style="font-size:14px;">Session 1</h5>
                                                                    <p class="card-text" style="font-size:12px;margin-bottom: 0;">
                                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae recusandae a ea accusamus quis! Necessitatibus dignissimos itaque iste et aliquid!.
                                                                    </p>
                                                                </div>
                                                                <div class="w-100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card p-3" style="margin-bottom: 15px;margin-top: 15px;">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="card-header d-flex rounded h-100 justify-content-center align-middle" style="background: #CAD8ED;">
                                                                    <p class="text-center my-auto" style="font-size:14px;">09:00</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="card-block">
                                                                    <h5 class="card-title poppins" style="font-size:14px;">Session 2</h5>
                                                                    <p class="card-text" style="font-size:12px;margin-bottom: 0;">
                                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae recusandae a ea accusamus quis! Necessitatibus dignissimos itaque iste et aliquid!.
                                                                    </p>
                                                                </div>
                                                                <div class="w-100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card p-3" style="margin-bottom: 15px;margin-top: 15px;">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="card-header d-flex rounded h-100 justify-content-center align-middle" style="background: #CAD8ED;">
                                                                    <p class="text-center my-auto" style="font-size:14px;">09:30</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="card-block">
                                                                    <h5 class="card-title poppins" style="font-size:14px;">Session 3</h5>
                                                                    <p class="card-text" style="font-size:12px;margin-bottom: 0;">
                                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae recusandae a ea accusamus quis! Necessitatibus dignissimos itaque iste et aliquid!.
                                                                    </p>
                                                                </div>
                                                                <div class="w-100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Right Card -->
                            <div class="card">
                                <div class="card-body round">
                                    <div class="container">
                                        <!-- Background Color -->
                                        <p class="poppins" style="font-size:15px">
                                            Background
                                        </p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card my-0 pb-2">
                                                    <div class="card-body mx-3">
                                                        <div class="input-group">
                                                            <input type="color" id="background__color" class="custom-color-input" v-model="BackgroundColor">
                                                            <span class="my-auto ml-2 mr-4" id="background__color_val">
                                                                {{ BackgroundColor ? BackgroundColor : '#ffffff' }}
                                                            </span>
                                                            <div class="input-group-prepend">
                                                                <select id="ticket" class="form-control custom-select-input" style="background-color: #F9F9F9 !important; width: 100px;">
                                                                    <option selected>Solid</option>
                                                                    <option>...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Title Color -->
                                        <p class="poppins mt-3" style="font-size:15px">
                                            Title
                                        </p>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <!-- Font Color -->
                                                <p class="poppins" style="font-weight: 400;"> Font </p>
                                                <div class="card my-0 pb-2">
                                                    <div class="card-body mx-3">
                                                        <div class="input-group">
                                                            <input type="color" id="font__color" class="custom-color-input" v-model="FontColor">
                                                            <span class="my-auto ml-2 mr-4" id="font__color_val">
                                                                {{ FontColor ? FontColor : '#ffffff' }}
                                                            </span>
                                                            <div class="input-group-prepend">
                                                                <select id="ticket" class="form-control custom-select-input" style="background-color: #F9F9F9 !important; width: 100px;">
                                                                    <option selected>100 %</option>
                                                                    <option>...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <!-- Color -->
                                                <p class="poppins" style="font-weight: 400;"> Color </p>
                                                <div class="card my-0 pb-2">
                                                    <div class="card-body mx-3">
                                                        <div class="input-group">
                                                            <input type="color" id="only__color" class="custom-color-input" v-model="Color">
                                                            <span class="my-auto ml-2 mr-4" id="only__color_val">
                                                                {{ Color ? Color : '#ffffff' }}
                                                            </span>
                                                            <div class="input-group-prepend">
                                                                <select id="ticket" class="form-control custom-select-input" style="background-color: #F9F9F9 !important; width: 100px;">
                                                                    <option selected>100 %</option>
                                                                    <option>...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="poppins mt-3" style="font-size:15px">
                                            Speaker
                                        </p>

                                        <!-- Switch -->
                                        <div class="togglebutton">
                                            <label class="poppins text-dark">
                                            <input type="checkbox">
                                                <span class="toggle "></span>
                                                Host Name
                                            </label>
                                        </div>
                                        <div class="togglebutton">
                                            <label class="poppins text-dark">
                                            <input type="checkbox">
                                                <span class="toggle"></span>
                                                Title
                                            </label>
                                        </div>
                                        <div class="mb-3"></div>

                                        <!-- Agenda Color -->
                                        <p class="poppins" style="font-size:15px">
                                            Agenda Background Color
                                        </p>
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="card my-0 pb-2">
                                                    <div class="card-body mx-3">
                                                        <div class="input-group">
                                                            <input type="color" id="agenda__color" class="custom-color-input" v-model="AgendaColor">
                                                            <span class="my-auto ml-2 mr-4" id="agenda__color_val">
                                                                {{ AgendaColor ? AgendaColor : '#ffffff' }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Register Color -->
                                        <p class="poppins" style="font-size:15px">
                                            Register Button Color
                                        </p>
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="card my-0 pb-2">
                                                    <div class="card-body mx-3">
                                                        <div class="input-group">
                                                            <input type="color" id="register__color" class="custom-color-input" v-model="RegisterColor">
                                                            <span class="my-auto ml-2 mr-4" id="register__color_val">
                                                                {{ RegisterColor ? RegisterColor : '#ffffff' }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-collapse>
    </div>
</template>

<script>
export default {
    data () {
        return {
            BackgroundColor: '#ffffff',
            FontColor: '#ffffff',
            Color: '#ffffff',
            AgendaColor: '#ffffff',
            RegisterColor: '#ffffff',
        }
    }
}
</script>

<style>

</style>