<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3" style="background-color: transparent; box-shadow: none;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <!-- Photo -->
                            <div class="col-md-12 mb-3">
                                <label for="photo" class="poppins text-dark">Cover Photo </label>
                                <vue2Dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue2Dropzone>
                                <!-- <div class="file-upload-wrapper">
                                    <input type="file" name="" id="input-file-max-fs" class="file-upload w-100 validate" 
                                    data-max-file-size="5M" data-height="200" data-default-file="" accept=".jpg,.png,.jpeg"/>
                                </div> -->
                            </div>
                            <!-- Description -->
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="description" class="poppins">Description</label>
                                    <textarea class="form-control custom-input" id="description" rows="5" placeholder="Type description here" style="background-color: #fff !important;"></textarea>
                                </div>
                            </div>

                            <!-- Timeline -->
                            <p class="ml-3 poppins mb-5"> Agenda </p>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                                        <ul class="timeline timeline-split">
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span class="poppins">08:30</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title poppins" style="font-size:16px;font-weight: 400;">Opening</h3>
                                                </div>
                                            </li>
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span class="poppins">08:30</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title poppins" style="font-size:16px;font-weight: 400;">Session 1</h3>
                                                </div>
                                            </li>
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span class="poppins">08:30</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title poppins" style="font-size:16px;font-weight: 400;">Session 2</h3>
                                                </div>
                                            </li>
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span class="poppins">08:30</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title poppins" style="font-size:16px;font-weight: 400;">Session 3</h3>
                                                </div>
                                            </li>
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span class="poppins">08:30</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title poppins" style="font-size:16px;font-weight: 400;">Ending</h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <p class="poppins mt-1">Event Name</p>
                                <br>
                                <input type="text" class="form-control custom-input" id="tags" placeholder="Type event name here">
                            </div>

                            <!-- Type -->
                            <div class="col-md-6 mb-3">
                                <label for="type" class="select-label poppins text-dark">Type</label>
                                <select id="type" class="form-control custom-select-input">
                                    <option selected>Event type</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <!-- Category -->
                            <div class="col-md-6 mb-4">
                                <label for="category" class="select-label poppins text-dark">Category</label>
                                <select id="category" class="form-control custom-select-input">
                                    <option selected>Event Category</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <!-- Tags -->
                            <div class="col-md-12 mb-4">
                                <label for="tags" class="select-label poppins text-dark ">Tags</label>
                                <treeselect :multiple="true" :options="options" placeholder="" v-model="value" />
                            </div>

                            <!-- Access -->
                            <div class="col-md-12 mb-3">
                                <p class="poppins">Access</p>
                                <div class="form-check form-check-radio form-check-inline ml-2">
                                    <label class="form-check-label poppins text-dark">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="public"> Public
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline ml-2">
                                    <label class="form-check-label poppins text-dark">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="private"> Private
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <!-- Date -->
                            <div class="col-md-12 mb-3 mt-3">
                                <h5 class="poppins mb-3"> Date and Time </h5>
                            </div>

                            <div class="col-md-8">
                                <p class="poppins"> Date </p>
                                <div class="form-group">
                                    <input type="text" aria-label="..." class="form-control custom-input">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <p class="poppins"> Zone </p>
                                <div class="form-group">
                                    <select id="ticket" class="form-control custom-select-input">
                                        <option selected></option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Time -->
                            <div class="col-md-5 mb-2">
                                <p class="poppins"> Time </p>
                                <div class="form-group">
                                    <input type="text" class="form-control custom-input" placeholder="Time">
                                </div>
                            </div>

                            <div class="col-md-2 text-center" style="margin-top:2.5rem">
                                <p class="poppins"> to </p>
                            </div>

                            <div class="col-md-5">
                                <p class="poppins"> &nbsp; </p>
                                <div class="input-group">
                                    <input type="text" class="form-control custom-input" placeholder="Time">
                                </div>
                            </div>

                            <!-- Link -->
                            <div class="col-md-12 mb-3">
                                <p class="poppins">Link </p>
                                <div class="input-group">
                                    <div class="input-group-prepend" style="background-color: #F9F9F9;">
                                        <span class="input-group-text poppins" style="font-size:12px">https://concall.com/</span>
                                    </div>
                                    <input type="text" class="form-control custom-input" style="background-color: #fff !important;" placeholder="yourlink">
                                </div>
                            </div>

                            <!-- Ticketing -->
                            <div class="col-md-8">
                                <p class="poppins"> Ticketing </p>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select id="ticket" class="form-control custom-select-input" style="background-color: #F9F9F9 !important; width: 100px;">
                                            <option selected>Free</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <input type="text" aria-label="..." class="form-control custom-input" style="background-color: #fff !important;">
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <p class="poppins"> Slot </p>
                                <div class="form-group mb-5">
                                    <input type="text" class="form-control custom-input" id="slot" placeholder="slot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Treeselect from '@riophae/vue-treeselect'
import vue2Dropzone  from 'vue2-dropzone'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    components: {
        Treeselect,
        vue2Dropzone 
    },
    data() {
        return {
            value: null,
            options: [
                {
                    id: 1,
                    label: 'Keywords',
                },
                {
                    id: 2,
                    label: 'Keywords',
                },
                {
                    id: 3,
                    label: 'Keywords',
                }
            ],
            dropzoneOptions: {
                // Change URL to your POST url data
                url: 'https://httpbin.org/post',
                thumbnailWidth: 400,
                maxFilesize: 0.5,
                maxFiles:1,
                init: function() {
                    this.on("maxfilesexceeded", function(file) {
                            this.removeAllFiles();
                            this.addFile(file);
                    });
                }
            }
        }
    },
}
</script>

<style>

</style>