<template>
    <div class="card card-plain">
        <!-- Title : Speaker -->
        <div class="card-header" role="tab" id="headingOne">
            <a class="collapsed"  v-b-toggle.speaker href="javascript:;">
                Speaker <i class="material-icons">keyboard_arrow_down</i>
            </a>
        </div>
        <!-- Body : Speaker -->
        <b-collapse id="speaker" accordion="my-accordion" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body" style="background-color: #fff;">
                <div class="container p-4">
                    <h4 class="poppins">
                        Send Invitation
                    </h4>
                    <p class="poppins" style="font-size:14px;font-weight:500;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    
                    <span class="poppins mt-4"> Speaker's email </span>
                    <div class="d-flex">
                        <div class="form-group p-2" style="flex-grow: 1;">
                            <input type="text" aria-label="email" class="form-control custom-input" placeholder="Type speaker`s email here">
                        </div>
                        <div class="my-auto">
                            <button type="submit" class="btn btn-blue btn-round btn-sm" style="text-transform: capitalize;"> Send </button>
                        </div>
                    </div>
                    <!-- List Speakers -->
                    <div class="form-inline">
                        <div class="form-group mr-5">
                            <h4 class="poppins">
                                Speakers List
                            </h4>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <select id="ticket" class="form-control custom-select-input" style="width: 75px;">
                                    <option selected>All</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card flex-row flex-wrap">
                                <div class="card-header" style="background: none;">
                                    <img src="@/assets/img/speakers1.png" class="img-fluid rounded" width="75" alt="">
                                </div>
                                <div class="card-block">
                                    <h5 class="card-title poppins mt-2" style="font-size:14px;">Jane Cooper</h5>
                                    <p class="card-text" style="font-size:12px;margin-bottom: 0;">Founder of Concall</p>
                                    <p class="card-text poppins" style="font-size:12px;margin-bottom: 0;">janecop21@gmail.com</p>
                                    <span class="badge badge-success">
                                        Ready
                                    </span>
                                </div>
                                <div class="w-100"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card flex-row flex-wrap">
                                <div class="card-header" style="background: none;">
                                    <img src="@/assets/img/speakers2.png" class="img-fluid rounded" width="75" alt="">
                                </div>
                                <div class="card-block">
                                    <h5 class="card-title poppins mt-2" style="font-size:14px;">Eleaner Pena</h5>
                                    <p class="card-text" style="font-size:12px;margin-bottom: 0;">Architect</p>
                                    <p class="card-text poppins" style="font-size:12px;margin-bottom: 0;">elanorpena86@gmail.com</p>
                                    <span class="badge badge-success">
                                        Ready
                                    </span>
                                </div>
                                <div class="w-100"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card flex-row flex-wrap">
                                <div class="card-header" style="background: none;">
                                    <img src="@/assets/img/speakers3.png" class="img-fluid rounded" width="75" alt="">
                                </div>
                                <div class="card-block">
                                    <h5 class="card-title poppins mt-2" style="font-size:14px;">Jane Cooper</h5>
                                    <p class="card-text" style="font-size:12px;margin-bottom: 0;">Architect</p>
                                    <p class="card-text poppins" style="font-size:12px;margin-bottom: 0;">jacobjones@gmail.com</p>
                                    <span class="badge badge-info">
                                        Sending
                                    </span>
                                </div>
                                <div class="w-100"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </b-collapse>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>