
.btn-grey-custom {
    background-color: #F9F9F9;
  }
  
  form .form-group label.select-label {
    position: absolute;
    top: -25px;
    font-weight: bold;
    color: #333333 !important;
    font-family: Poppins !important;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .inline-form {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  select.custom-select-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    color: #BDBDBD !important;
    // font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
  }
  
  .card-title {
    text-align: left;
  }
  
  .card-text.poppins {
    line-height: 22.4px;
    font-weight: 500;
  }
  
  .badge.badge-pink {
    background-color: rgba(224, 81, 210, 0.708);
  }
  
  select.custom-select-input:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #BDBDBD !important;
  }
  
  .custom-input {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 10px;
    background-color: #F9F9F9 !important;
  }
  
  textarea.custom-input {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding-top: 10px;
    background-color: #F9F9F9 !important;
  
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding-top: 10px;
      background-color: #F9F9F9 !important;
    }
  }
  
  .is-focused .custom-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  
    /* padding-top: 10px; */
    background-color: #F9F9F9 !important;
  }
  
  .custom-select-input {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 10px;
    background-color: white !important;
  }
  
  select.custom-select-input:not([size]):not([multiple]) {
    height: 36px;
  }
  
  form .form-group select.custom-select-input {
    position: unset;
    top: -5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .is-focused .custom-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding-bottom: 0;
  }
  
  /* .font-weight-bold {
    font-weight: bold !important;
  } */
  
  .bmd-label-static {
    top: -25px !important;
    left: 5px !important;
    font-weight: bold;
    color: #333333 !important;
    // font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .text-grey-custom {
    color: #828282 !important;
  }
  
  .navbar.navbar-absolute {
    padding-top: 4px;
  }
  
  .main-panel > .content {
    margin-top: 0;
  }
  
  .navbar {
    border: 0;
    border-radius: 3px;
    padding-bottom: 3.7px;
  }
  
  /* .nav-link>p {
    font-weight: 500 !important;
  } */
  
  .nav-tabs .nav-item .nav-link {
    text-transform: capitalize;
    font-size: 14px;
  
    &.active {
      background-color: rgba(201, 201, 201, 0.263);
      border-radius: 10px;
      transition: 0.3s background-color 0.2s;
      text-align: center;
      color: #0186CB !important;
    }
  }
  
  .btn.btn-outline-secondary {
    color: #333333;
    background-color: transparent;
    border-color: #33333330;
  
    &:hover, &:focus {
      color: #333333;
      background-color: transparent;
      border-color: #33333330;
    }
  
    &:active, &.active {
      color: #333333;
      background-color: transparent !important;
      border-color: #33333330 !important;
    }
  }
  
  .open > .btn.btn-outline-secondary.dropdown-toggle, .show > .btn.btn-outline-secondary.dropdown-toggle {
    color: #333333;
    background-color: transparent !important;
    border-color: #33333330 !important;
  }
  
  .btn.btn-grey-custom {
    &:hover {
      background-color: #F9F9F9;
    }
  
    &:focus {
      background-color: #F9F9F9 !important;
    }
  }
  
  .poppins {
    // font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
  }
  
  .form-control .form-search-input, .is-focused .form-control {
    background-image: none !important;
    background-color: #F9F9F9;
    border: none;
  }
  
  .form-control {
    .form-search-input {
      background-image: none !important;
    }
  
    background-image: none !important;
  }
  
  .form-search-input {
    border: none;
    border: 1px solid #F9F9F9;
    border-radius: 20px;
    font-size: 14px;
    background-color: #F9F9F9;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    // font-family: Poppins;
    font-style: normal;
  }
  
  .tim-row {
    margin-bottom: 20px;
  }
  
  .tim-white-buttons {
    background-color: #777777;
  }
  
  .typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
  
    span {
      bottom: 10px;
      color: #c0c1c2;
      display: block;
      font-weight: 400;
      font-size: 13px;
      line-height: 13px;
      left: 0;
      position: absolute;
      width: 260px;
      text-transform: none;
    }
  }
  
  .tim-row {
    padding-top: 60px;
  
    h3 {
      margin-top: 0;
    }
  }
  
  .tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
  
    .tim-note {
      bottom: 5px;
      color: #c0c1c2;
      display: block;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      left: 0;
      margin-left: 20px;
      position: absolute;
      width: 260px;
    }
  }
  
  .card .author .avatar {
    margin-right: -13px;
  }
  
  .author > .full-load {
    position: absolute;
    border-radius: 50%;
    left: 118px;
    height: 30px;
    background: #E3F0FF;
    width: 30px;
    text-align: center;
    border: .5px solid white;
    line-height: 30px;
    font-size: 12px;
    // font-family: Poppins;
    font-weight: 600;
    color: #0E78F9;
  }
  
  .pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
  
    .page-item {
      &.disabled .page-link {
        color: #868e96 !important;
      }
  
      .page-link {
        font-size: .9rem;
        color: #333333;
        background: #F1F3F6;
        border: 0;
        outline: 0;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
      }
    }
  }
  
  .page-item {
    &.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background: #F1F3F6;
      border-color: #dee2e6;
    }
  
    &:first-child .page-link, &:last-child .page-link {
      margin-left: 0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
      color: #007bff;
    }
  }
  
  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  
    &:focus, &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background: #F1F3F6;
    border: 1px solid #dee2e6;
    font-size: 12px !important;
  }
  
  .pagination > .page-item > {
    .page-link, span {
      border-radius: 5px;
    }
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #333333 !important;
    background-color: #F1F3F6 !important;
    border-color: #F1F3F6 !important;
    box-shadow: none !important;
  }
  
  .btn.btn-blue {
    color: #fff;
    font-size: 14px;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px !important;
  
    &:hover, &:focus, &:active {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
  }
  
  .input-group-text {
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    padding: 0 10px 0 10px !important;
    text-align: center !important;
  }
  
  /*==================================
      TIMELINE
  ==================================*/
  /*-- GENERAL STYLES
  ------------------------------*/
  
  .timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  
    h1, h2, h3, h4, h5, h6 {
      line-height: inherit;
    }
  }
  
  /*----- TIMELINE ITEM -----*/
  
  .timeline-item {
    padding-left: 40px;
    position: relative;
  
    &:last-child {
      padding-bottom: 0;
    }
  }
  
  /*----- TIMELINE INFO -----*/
  
  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  /*----- TIMELINE MARKER -----*/
  
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  
    &:before {
      /* background: #C4C4C4; */
      background: #C4C4C4;
      border: 3px solid transparent;
      border-radius: 100%;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      top: 8px;
      left: 3px;
      width: 10px;
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }
  
    &:after {
      content: "";
      width: 3px;
      background: #CCD5DB;
      display: block;
      position: absolute;
      top: 18px;
      bottom: -8px;
      left: 6px;
    }
  }
  
  .timeline-item {
    &:last-child .timeline-marker:after {
      content: none;
    }
  
    &:not(.period):hover .timeline-marker:before {
      background: transparent;
      border: 3px solid #C4C4C4;
    }
  }
  
  /*----- TIMELINE CONTENT -----*/
  
  .timeline-content {
    padding-bottom: 23px;
  
    p:last-child {
      margin-bottom: 0;
    }
  }
  
  /*----- TIMELINE PERIOD -----*/
  
  .period {
    padding: 0;
  
    .timeline-info {
      display: none;
    }
  
    .timeline-marker {
      &:before {
        background: transparent;
        content: "";
        width: 15px;
        height: auto;
        border: none;
        border-radius: 0;
        top: 0;
        bottom: 30px;
        position: absolute;
        border-top: 3px solid #CCD5DB;
        border-bottom: 3px solid #CCD5DB;
      }
  
      &:after {
        content: "";
        height: 32px;
        top: auto;
      }
    }
  
    .timeline-content {
      padding: 40px 0 70px;
    }
  
    .timeline-title {
      margin: 0;
    }
  }
  
  /*----------------------------------------------
      MOD: TIMELINE SPLIT
  ----------------------------------------------*/
  @media (min-width: 768px) {
    .timeline-split .timeline, .timeline-centered .timeline {
      display: table;
    }
  
    .timeline-split .timeline-item, .timeline-centered .timeline-item {
      display: table-row;
      padding: 0;
    }
  
    .timeline-split .timeline-info, .timeline-centered .timeline-info, .timeline-split .timeline-marker, .timeline-centered .timeline-marker, .timeline-split .timeline-content, .timeline-centered .timeline-content {
      display: table-cell;
      vertical-align: top;
    }
  
    .timeline-split {
      .period .timeline-info {
        display: table-cell;
        vertical-align: top;
      }
  
      .timeline-marker {
        position: relative;
      }
    }
  
    .timeline-centered .timeline-marker {
      position: relative;
    }
  
    .timeline-split .timeline-content, .timeline-centered .timeline-content {
      padding-left: 30px;
    }
  
    .timeline-split .timeline-info, .timeline-centered .timeline-info {
      padding-right: 30px;
    }
  
    .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
  
  /*----------------------------------------------
      MOD: TIMELINE CENTERED
  ----------------------------------------------*/
  @media (min-width: 992px) {
    .timeline-centered {
      display: block;
      margin: 0;
      padding: 0;
  
      .timeline-item, .timeline-info, .timeline-marker, .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
      }
  
      .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
      }
  
      .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
      }
  
      .timeline-info, .timeline-content {
        width: 50%;
      }
  
      > .timeline-item {
        &:nth-child(odd) {
          .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
          }
  
          .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
          }
        }
  
        &:nth-child(even) {
          .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
          }
  
          .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
          }
        }
  
        &.period .timeline-content {
          float: none;
          padding: 0;
          width: 100%;
          text-align: center;
        }
      }
  
      .timeline-item.period {
        padding: 50px 0 90px;
      }
  
      .period {
        .timeline-marker:after {
          height: 30px;
          bottom: 0;
          top: auto;
        }
  
        .timeline-title {
          left: auto;
        }
      }
    }
  }
  
  /*----------------------------------------------
      MOD: MARKER OUTLINE
  ----------------------------------------------*/
  
  .marker-outline {
    .timeline-marker:before {
      background: transparent;
      border-color: #C4C4C4;
    }
  
    .timeline-item:hover .timeline-marker:before {
      background: #C4C4C4;
    }
  }
  
  .custom-color-input {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  
    /* box-sizing: border-box; */
    border-radius: 5px;
  
    /* border: none; */
    outline: none;
    -webkit-appearance: none;
    background-color: #fff;
  
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  
    &::-webkit-color-swatch {
      border: none;
      border-radius: 5px;
      background-color: #fff;
    }
  }