<template>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-white sticky-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round" v-bind:class="{ 'is-active' : isOpen }" @click="toggleBodyClass('sidebar-mini')">
                        <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                        <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                    </button>
                </div>
                <form class="form-inline ml-4">
                    <div class="input-group form-search-input">
                        <input type="text" class="form-control form-search-input" placeholder="Search">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="color:#A7A7A7;border: none !important;">
                                <i class="material-icons">search</i>
                            </span>
                        </div>
                        </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item ml-3">
                        <button class="btn btn-social btn-just-icon rounded btn-md btn-grey-custom">
                            <span class="material-icons text-dark">
                                format_list_bulleted
                            </span>
                        </button>
                    </li>
                    <li class="nav-item ml-3">
                        <button class="btn btn-social btn-just-icon rounded btn-md btn-grey-custom">
                            <span class="material-icons text-dark">
                                notifications
                            </span>
                        </button>
                    </li>
                    <router-link to="/event/create" v-slot="{href, navigate}">
                        <li class="nav-item ml-3">
                            <a class="btn btn-social btn-just-icon rounded btn-md btn-grey-custom" :href="href" @click="navigate">
                                <span class="material-icons text-info">
                                    add
                                </span>
                            </a>
                        </li>
                    </router-link>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" v-bind:class="{ 'toggled' : isOpen }" @click="toggleBodyClass('nav-open')">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="d-flex flex-column text-right">
                            <div>
                                <span class="poppins" style="font-size:13px;"> Hi, Jeffry </span>
                            </div>
                            <div>
                                <span class="poppins text-info" style="font-size:13px;"> Good Morning </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="@/assets/img/avatar.png" alt="Avatar" class="img-fluid">
                        </a> 
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" href="#">
                                Menu 1
                            </a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>     
    <!-- End Navbar -->
</template>

<script>
export default {
    name: 'Navbar',
    data() {
        return {
            isOpen: false,
            sidebarActive: false,
        }
    },
    methods: {
    toggleBodyClass(className) {
        const el = document.body;
        this.isOpen = !this.isOpen;

        if (this.isOpen) {
            el.classList.add(className);
        } else {
            el.classList.remove(className);
        }
    },
    toggleSidebarHover(add) {
        const el = document.body;
        this.sidebarActive = !this.sidebarActive;

        this.windowWidth = document.documentElement.clientWidth;

        if (this.windowWidth > '992') {
            if (add === 'add') {
                el.classList.add('nav-open');
            } else {
                el.classList.remove('nav-open');
            }
        }
    },
    getWindowWidth() {
        const el = document.body;

        this.windowWidth = document.documentElement.clientWidth;

        if (this.windowWidth < '1350') {
            el.classList.add('nav-open', 'sidebar-mini');
        } else {
            el.classList.remove('nav-open', 'sidebar-mini');
        }
    },
    },
}
</script>

<style>

</style>