<template>
        <div class="sidebar" data-color="azure" data-background-color="white" @mouseover="toggleSidebarHover('add','closed-sidebar-open')" @mouseleave="toggleSidebarHover('remove','closed-sidebar-open')">
            <div class="logo bg-white">
                <a href="#" class="simple-text logo-mini">
                    <img src="@/assets/img/icon_concall.png" alt="Logo" class="img-fluid">
                </a>
                <a href="#" class="simple-text logo-normal">
                    <img src="@/assets/img/text_concall.png" alt="Logo Img" class="img-fluid">
                </a>

            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <router-link to="/dashboard" v-slot="{href, isActive, isExactActive, navigate}">
                        <li :class="['nav-item ', isActive && 'nav-item active', isExactActive && 'nav-item active']">
                            <a class="nav-link" :href="href" @click="navigate">
                                <i class="flaticon-dashboard"></i>
                                <p> Dashboard </p>
                            </a>
                        </li>
                    </router-link>

                    <router-link to="/event/list" v-slot="{href, isActive, isExactActive, navigate}" exact-path>
                        <li :class="['nav-item', isActive && 'nav-item active', isExactActive && 'nav-item active']">
                            <a class="nav-link" :href="href" @click="navigate">
                                <i class="flaticon-tickets"></i>
                                <p> Event </p>
                            </a>
                        </li>
                    </router-link>


                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="flaticon-contact-book"></i>
                            <p> Contact </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="flaticon-layers"></i>
                            <p> Segment </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="flaticon-cube"></i>
                            <p> Integration </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="flaticon-invoice"></i>
                            <p> Payment </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="material-icons"> settings </i>
                            <p> Setting </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>  
</template>

<script>
export default {
    name: 'Sidebar',
    data() {
        return {
            isOpen: false,
            sidebarActive: false,
        }
    },
    methods: {
        toggleBodyClass(className) {
            const el = document.body;
            this.isOpen = !this.isOpen;

            if (this.isOpen) {
                el.classList.add(className);
            } else {
                el.classList.remove(className);
            }
        },
        toggleSidebarHover(add) {
            const el = document.html;
            this.sidebarActive = !this.sidebarActive;

            this.windowWidth = document.documentElement.clientWidth;

            if (this.windowWidth > '992') {
                if (add === 'add') {
                    el.classList.add('nav-open');
                } else {
                    el.classList.remove('nav-open');
                }
            }
        },
        getWindowWidth() {
            const el = document.body;

            this.windowWidth = document.documentElement.clientWidth;

            if (this.windowWidth < '1350') {
                el.classList.add('nav-open', 'sidebar-mini');
            } else {
                el.classList.remove('nav-open', 'sidebar-mini');
            }
        },
    },

}
</script>

<style>
/*  */
</style>
