<template>
<!-- :::: !!! :::: -->
<!-- Begin : Form Event -->
<form action="">
    <h3 class="font-weight-bold" style="font-size:36px;"> Create Events </h3>
    <div class="container">
        <FormEvent></FormEvent>
    </div>

    <!-- :::: !!! :::: -->
    <!-- End Form Event -->

    <!-- :::: !!! :::: -->
    <!-- Begin : Accordion -->
    <div class="container px-5">
        <div class="accordion card-collapse" role="tablist">
            <!-- :::: Speaker :::: -->
            <Speaker></Speaker>
            <!-- :::: Attendee :::: -->
            <Attendee></Attendee>
            <!-- :::: Emails :::: -->
            <Email></Email>
            <!-- :::: Event Page Builder :::: -->
            <EventPageBuilder></EventPageBuilder>
        </div>
    </div>
    <!-- End : Accordion -->
    <!-- :::: !!! :::: -->

    <!-- Footer Button -->
    <div class="container">
        <div class="float-right">
            <button type="submit" class="btn btn-blue rounded poppins" style="text-transform: capitalize;"> Submit </button>
        </div>
        <div class="float-right mr-4">
            <button type="submit" class="btn btn-outline-secondary rounded poppins" style="text-transform: capitalize;"> Save as Draft </button>
        </div>
    </div>
</form>
</template>

<script>

import FormEvent from '@/components/Event/Section/FormEvent.vue'
import Speaker from './Section/Speaker.vue'
import Attendee from './Section/Attendee.vue'
import Email from './Section/Emails.vue'
import EventPageBuilder from './Section/EventPageBuilder.vue'

export default {
    name: 'App',
    components: {
        FormEvent,
        Speaker,
        Attendee,
        Email,
        EventPageBuilder,
        
    },
    data() {
        return {

        }
    },


}
</script>

<style>

</style>