<template>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div>
                <h3 class="font-weight-bold" style="font-size:36px;"> Events </h3>
            </div>
            <div class="nav-tabs-navigation mt-3 ">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item ">
                            <a class="nav-link text-grey-custom active poppins font-weight-bold" href="#past-event" data-toggle="tab">Past Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey-custom poppins font-weight-bold" href="#upcoming-event" data-toggle="tab">Upcoming Event</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="btn-group mt-3">
                <button type="button" v-on:click="filter = !filter" class="btn btn-outline-secondary rounded btn-sm" id="filters">
                    <i class="material-icons"> filter_alt </i> Filters
                </button>
            </div>
        </div>
        <div class="row" id="form-filter" v-if="filter">
            <div class="col-md-12 mt-5">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3 tags-filter">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control custom-input" id="tags" placeholder="Type Tags Here">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ticket" class="select-label">Ticket</label>
                            <select id="ticket" class="form-control custom-select-input">
                                <option selected>Free</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="alphabet" class="select-label">Alphabet</label>
                            <select id="ticket" class="form-control custom-select-input">
                                <option selected>A to Z</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="event-type" class="select-label">Event Type</label>
                            <select id="ticket" class="form-control custom-select-input">
                                <option selected>Webinar</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="date" class="select-label">Date</label>
                            <select id="ticket" class="form-control custom-select-input">
                                <option selected>Newest to Oldest</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <Cards :card="card"></Cards>
        <div class="d-flex">
            <div class="mr-auto">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous">
                                <span class="material-icons">
                                    arrow_back_ios
                                </span>
                            </a>                                           
                        </li>

                        <li class="page-item active">
                            <a class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link">4</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span class="material-icons">
                                    arrow_forward_ios
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="form-group">
                <select id="ticket" class="form-control custom-select-input" style="width: 66px;">
                    <option selected>6</option>
                    <option>...</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
import Cards from '@/components/Cards.vue'

export default {
    name: 'App',
    components: {
        Cards,
    },
    data() {
        return {
            card: [
                {
                    img: "dummy-img.png",
                    title: "How To Earn Money From Bitcoin",
                    desc: " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, veritatis doloremque. A perferendis quam quos! Praesentium doloremque dignissimos placeat suscipit voluptate possimus amet ad culpa soluta eius, dolorem dicta animi.",
                },
                {
                    img: "dummy-img.png",
                    title: "How To Earn Money From Bitcoin",
                    desc: " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, veritatis doloremque. A perferendis quam quos! Praesentium doloremque dignissimos placeat suscipit voluptate possimus amet ad culpa soluta eius, dolorem dicta animi.",
                },
                {
                    img: "dummy-img.png",
                    title: "How To Earn Money From Bitcoin",
                    desc: " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, veritatis doloremque. A perferendis quam quos! Praesentium doloremque dignissimos placeat suscipit voluptate possimus amet ad culpa soluta eius, dolorem dicta animi.",
                },
                {
                    img: "dummy-img.png",
                    title: "How To Earn Money From Bitcoin",
                    desc: " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, veritatis doloremque. A perferendis quam quos! Praesentium doloremque dignissimos placeat suscipit voluptate possimus amet ad culpa soluta eius, dolorem dicta animi.",
                },
                {
                    img: "dummy-img.png",
                    title: "How To Earn Money From Bitcoin",
                    desc: " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, veritatis doloremque. A perferendis quam quos! Praesentium doloremque dignissimos placeat suscipit voluptate possimus amet ad culpa soluta eius, dolorem dicta animi.",
                },
            ],
            filter: false
        }
    },
}
</script>


<style>

</style>