<template>
    <div class="wrapper ">
        <Sidebar></Sidebar>  
        <div class="main-panel">
            <Navbar></Navbar>  
            <div class="content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
// @ Alias /src
import Navbar from '@/components/Layouts/Navbar.vue'
import Sidebar from '@/components/Layouts/Sidebar.vue'

export default {
    name: 'App',
    components: {
        Navbar,
        Sidebar,
        // ListEvent
    },
    data() {
        return {
            // 
        }
    },
    mounted() {

    }

}

</script>


<style>

</style>