<template>
    <div class="row">
        <div class="col-md-6" v-for="item in card" :key="item.id">
            <div class="card p-5" style="min-height: 200px;">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <img :src="require('@/assets/img/'+item.img)" alt="Dummy" class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title font-weight-bold">{{ item.title }}</h5>
                        <span class="badge badge-pink">Live Class</span>
                        <span class="badge badge-secondary">Next 3 Days</span>
                        <br>
                        <span class="badge badge-info">Another text</span>
                        <span class="badge badge-success">Another</span>
                        <p class="card-text mt-2 text-muted poppins" style="font-weight: 500;">
                            <i class="material-icons mr-2" style="vertical-align: middle;"> date_range </i>
                            29 Juli 2021, <strong> 08:00 WIB </strong>
                        </p>
                    </div>

                    <div class="col-md-12 mt-4">
                        <p class="card-text poppins">
                            {{ item.desc }}
                        </p>
                    </div>
                </div>
                <div class="card-stats mt-5">
                    <div class="author" >
                        <img v-for="i in data.readed" :key="i" :src="require('@/assets/img/read'+i+'.png')" alt="" class="avatar img-raised"> 
                        <div class="full-load">32</div>
                    </div>
                    <div class="stats ml-auto">
                        <button class="btn btn-grey-custom rounded" style="font-size:14px!important;padding: 0.46875rem 1rem;">
                            <i class="flaticon-tickets text-success fa-fw mr-2 mt-4" style="font-size: 20px;vertical-align: middle;"></i> 
                            <span class="text-dark text-capitalize poppins"> Free </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        card: Array
    },
    data() {
        return {
            data: {
                readed: [1,2,3,4],
                
            }
        }
    }
}
</script>

<style>

</style>