@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?1b850f9bb7878f26a1c26cf8109dcd16") format("truetype"),
url("./flaticon.woff?1b850f9bb7878f26a1c26cf8109dcd16") format("woff"),
url("./flaticon.woff2?1b850f9bb7878f26a1c26cf8109dcd16") format("woff2"),
url("./flaticon.eot?1b850f9bb7878f26a1c26cf8109dcd16#iefix") format("embedded-opentype"),
url("./flaticon.svg?1b850f9bb7878f26a1c26cf8109dcd16#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-tickets:before {
    content: "\f101";
}
.flaticon-dashboard:before {
    content: "\f102";
}
.flaticon-contact-book:before {
    content: "\f103";
}
.flaticon-rounded-black-square-shape:before {
    content: "\f104";
}
.flaticon-cube:before {
    content: "\f105";
}
.flaticon-invoice:before {
    content: "\f106";
}
.flaticon-layers:before {
    content: "\f107";
}
