$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?1b850f9bb7878f26a1c26cf8109dcd16") format("truetype"),
url("./flaticon.woff?1b850f9bb7878f26a1c26cf8109dcd16") format("woff"),
url("./flaticon.woff2?1b850f9bb7878f26a1c26cf8109dcd16") format("woff2"),
url("./flaticon.eot?1b850f9bb7878f26a1c26cf8109dcd16#iefix") format("embedded-opentype"),
url("./flaticon.svg?1b850f9bb7878f26a1c26cf8109dcd16#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "tickets": "\f101",
    "dashboard": "\f102",
    "contact-book": "\f103",
    "rounded-black-square-shape": "\f104",
    "cube": "\f105",
    "invoice": "\f106",
    "layers": "\f107",
);

.flaticon-tickets:before {
    content: map-get($flaticon-map, "tickets");
}
.flaticon-dashboard:before {
    content: map-get($flaticon-map, "dashboard");
}
.flaticon-contact-book:before {
    content: map-get($flaticon-map, "contact-book");
}
.flaticon-rounded-black-square-shape:before {
    content: map-get($flaticon-map, "rounded-black-square-shape");
}
.flaticon-cube:before {
    content: map-get($flaticon-map, "cube");
}
.flaticon-invoice:before {
    content: map-get($flaticon-map, "invoice");
}
.flaticon-layers:before {
    content: map-get($flaticon-map, "layers");
}
