<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>


export default {

}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
</style>

<style>
.form-search-input {
    background-image: none !important;
    border: none !important;
}
.badge {
  margin: 2.3px;
}

.tags-filter {
  margin-top:-23px !important
}
</style>
